@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

.font {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero-font {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-bar {
  background: #fff5ea;
}

.hero {
  background-image: url(C:\cyberdude\coffee-landingpage\coffee\src\assets\bg-hero2.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}


.hero-bg {
  background-image: url(C:\cyberdude\coffee-landingpage\coffee\src\assets\bg-zero.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.hero-bgg {
  background-image: url(C:\cyberdude\coffee-landingpage\coffee\src\assets\bg-zero1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
