@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

.font {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero-font {
  font-family: "IM Fell Great Primer SC", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-bar {
  background: #fff5ea;
}

.hero {
  background-image: url(/bg-hero2.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}


.hero-bg {
  background-image: url(/bg-zero.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.hero-bgg {
  background-image: url(/bg-zero1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.hero-bggg {
  background-image: url(/bg-zero001.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.snacks-bg {
  background-image: url(/menu-bg.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}


/* mobile */
@media (max-width: 768px) {
  .hero,
  .hero-bg,
  .hero-bgg,
  .hero-bggg,
  .snacks-bg {
    min-height: 80vh;       
    background-position: top;
      background-size: cover;
    background-position: right;
  }
}

@media (max-width: 480px) {
  .hero,
  .hero-bg,
  .hero-bgg,
  .hero-bggg,
  .snacks-bg {
    min-height: 70vh;
    background-size: cover;
    background-position: right;
  }
}
